a:hover, a:focus, 
.navbar-default h1 a.navbar-brand, 
.navbar-default h1 a.navbar-brand:hover,
#sidebar .price .col-sm-9 span, #sidebar .price .col-sm-12 span,
#sidebar .nonregistered a.btn-green:hover,
#sidebar div.details .disabled,
.item-title span i,
#comments .panel-footer a,
#locationSelect i,
.latestListing h3 small a,
.latestbylocation h3 small a,
.featuredlistings .item h3 a,
.featuredlistingsE i,
.relatedlistings h3 small,
.relatedlistings .item .price,
.maincategory .catsingle i,
.allcategories i,
.owl-buttons .owl-prev:before,
.owl-buttons .owl-next:before,
.login-register small a,
.sendtofriend .fa,
.searchpage .listing-grid > div > div > .listing-detail span.price,
.searchpage .listing-list > div > div > .listing-detail > span.price,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
.profile-header .profile-detail i,
#footer .links ul li:hover:before, #footer .footer-top a:hover,
#footer .latest ul li:hover:before,
#footer .footer-bottom a,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.latestListing .item .price,
.navbar-static-top .navbar-nav > li > a:hover, .navbar-static-top .navbar-nav > li > a:focus, .navbar-static-top .navbar-nav > .open > a, .navbar-static-top .navbar-nav > .open > a:hover, .navbar-static-top .navbar-nav > .open > a:focus,
.latestbylocation .item .price,
#comments h2 .fa
{ 
	color:#ee503f;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ee503f;
}
.carousel-control:hover, .carousel-control:focus { color:#ee503f!important; }

.bigsearch,
.subscribe,
.profile-section,
.pagination ul > li > span.searchPaginationSelected,
.searchpage .actions .togglebutton.active a.grid-button, .searchpage .actions .togglebutton a.list-button,
#sidebar .sellerlisting .item .detail span.price
{ 
	background:#ee503f; 
}
.subscribe, .pagination ul > li > span.searchPaginationSelected
{ 
	border:1px solid #d93b2b!important; 
}
.searchpage .actions .togglebutton.active a.grid-button, .searchpage .actions .togglebutton a.list-button { border:1px solid #d93b2b; color:#fff;}
.searchpage .actions .togglebutton a.grid-button:hover, .searchpage .actions .togglebutton.active a.list-button:hover { color:#333;}

.imagebox .qq-upload-button {
    border: 2px dashed #ee503f;
}
.imagebox .qq-upload-list li {
    background: #ECFFBF !important;
    border: 1px solid #E2FCA1;
}

/* Modified */
.navbar-static-top .navbar-nav > li.publish > a, .featuredlistings .price, .status span.premium { background:#FF9900; }
.navbar-static-top .navbar-nav > li.publish > a:hover { background:#ffa51e!important; }
.publish.visible-xs a { background:#ffa51e; color:#fff; }

.imagebox .qq-upload-list li {
    background: #feeacc !important;
    border: 1px solid #fbe3c0;
}

.btn-success	 {
    background-color: #EE503F;
    border-color: #EA493A;
    color: #fff;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-color: #EA493A;
    border-color: #E24031;
}