/*! http://responsiveslides.com v1.54 by @viljamis */

#sliders{
  clear: both;
  margin: 0 auto;
  position: relative;
  z-index: 99;
  border-bottom:1px solid #F1F1F1;
}
.rslides_container {
  position: relative;
  width: 100%;
  }
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  float: left;
  width: 100%;
  border: 0;
  }
.sliderstyle_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  transition: all 0.5s ease;
  }
.sliderstyle_nav:hover, .sliderstyle_nav:active {
  opacity: 0.8;
  }
.sliderstyle_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
.sliderstyle_nav:focus{
  outline: none;
  }
ul.sliderstyle_tabs { margin-bottom:0px; padding:0px; width:100%;}
.sliderstyle_tabs{
	position:absolute;
	bottom:20px;
  text-align: center;
  z-index:999;
  }
.sliderstyle_tabs li{
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }
.sliderstyle_tabs a{
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  width: 9px;
  height: 9px;
  }
.sliderstyle_here a{
  background: #222;
  background: rgba(0,0,0, .8);
  }  
.sliderstyle .caption {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    text-shadow: none;
    z-index: 2;
}