body {
    background: #D8D6D9;
}
.footer{
    background-color:#fff;
    .btn-social-icon {
        margin: 0.2em 0;
        margin-left: 0.5em;
    }
    ul.links {
        li {
            border-right: 1px  #337ab7 solid;
        }
    }
}
.btn-block{
    display:block;
}
.h1-custom {
    font-size: 18px;
    margin-top: 0px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 18px;
}
.h2-custom {
    font-size: 16px;
    margin-top: 0;
}
.with-icon-left {
    padding-left: 32px;
    position:relative;
    i {
        position: absolute;
        top: 3px;
        left: 3px;
        font-size: 16px;
    }
}
.visible-to-ms,
.visible-to-sm {
    display:block;
}

ul.checklist {
    padding: 0;
    list-style: none;
    list-style-image: none;
    li {
        position: relative;
        padding-left: 30px;
        [class^=fa-], [class*=fa-] {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 135%;
        }
    }
}

.btn-hover {
    text-decoration: none;
    background-color: #eeeeee;
}
.text-normal {
    font-weight: 400;
}
.underline {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 6px;
    margin: 0;
    margin-bottom: 18px;
}
.h5 {
    font-size:15px;
}
.line {
    line-height: 35px;
}
.truncate-line {
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: inherit;
}
.hr-custom {
    margin-top: 12px!important;
    margin-bottom: 12px!important;
    background: #d6d6d6;
}
ul.listing-info {
    li {
        border-bottom: 1px solid #d6d6d6;
        padding: 1em;
    }
}
.title-section {
    padding-bottom: 6px;
    margin: 0;
    margin-bottom: 12px;

}
/* premium slider */

#premium-slider-wrapper .bx-wrapper{
    /*max-width: inherit!important;*/
    background: transparent;
    border-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* / ---- premium slider */
.social-links {
    h2 {
        float:left;
        font-size: 16px;
        line-height: 40px;
        margin: 0px;
        margin-right: 1em;
    }
    ul{
        float:right;
/*        margin-bottom: 0px;*/
    }
    li {
        width: 52px;
        height: 40px;
        float:left;
        a {
            display:block;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            i {
                position: relative;
                font-size: 18px;
                top: 10px;
                left: 12px;
            }
        }
        a.mail {
            background: #337ab7;
            color: white;
        }
    }
}

.box-border {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    padding:15px;
    border-radius: 4px 4px 0 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    //margin: 15px 0px;
    margin-bottom: 15px;
    //padding-bottom: 30px;
}


.notice {
    border: 1px solid #ccc;
    background: #FAFAFA;
    padding: 15px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

.container-breadcrumb {
    background-color:#fff;
}

.breadcrumb {
    background-color:#fff;
    margin-bottom: 0px;
}
#header-nav-post-ad {
    //border: 1px solid #E57373;
    //color: #E57373;
    color: #fff;
    margin: 1em;
    background: inherit;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid #fff;
    transition-duration: 222ms;
    .btn-ico {
        color: #fff;
        margin-right: 10px;
    }
}
#header-nav-post-ad:hover {
    color: #fff;
    background-color: #E57373;
    .btn-ico {
        color: #fff;
        margin-right: 10px;
    }
}
/* custom theme buttons */
.btn-primary-custom,
#header-search-button {
    border: 1px solid #E57373;
    background: #E57373;
    color: #fff;
    font-weight: 500;
    border-radius: 2px;
    transition-duration: 222ms;
}
.btn-primary-custom:hover,
#header-search-button:hover {
    color: #fff;
    background-color: #733A3A;
    border: 1px solid  #733A3A;
}
.watchlist a{
    background: #fff;
    color: #000;
    font-weight: 500;
    transition-duration: 222ms;
}
.btn-secondary-custom {
    //width: 100%;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    font-weight: 500;
    border-radius: 2px;
    transition-duration: 222ms;
}
.watchlist a:hover {
    background-color: #3C3241;
    color: #fff;
}
.btn-secondary-custom:hover{
    background-color: #3C3241;
    color: #fff;
    border: 1px solid  #733A3A;
}
.button-nopadding {
    padding-left: 5px;
    padding-right: 0px;
}
div.button-nopadding:first-of-type {
    padding-left: 0px;
}
/* ----------*/


.btn-ico-left {
    margin-left: 7px;
}
.btn-ico-right {
    margin-right: 7px;
}

.header {
    background-color: #024477;
    color: #fff;
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 6px 0px;
        line-height: 40px;
        font-size: 1.1em;
        color:#fff;
    }
    .dropdown-menu>li>a {
        padding: 0 15px;
        line-height: 40px;
        height: 39px;
        font-size: 90%;
    }
    .navbar-nav>li>a:focus,
    .navbar-nav>li>a:hover{
        color: #B1ADB3;
    }
    .navbar-nav>.open>a,
    .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        background: #fff;
        background-color: #fff;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        color:#fff;
    }
}




#width_tmp_select{
  display : none;
}
.container-header-search {
    top: -20px;
    margin-bottom: -20px;
    padding-bottom: 8px;
    background: #D8D6D9;
    color: #3C3241;
    position: relative;
    .header-search {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 15px;
        text-align:center;

        .header-keyword{
            width: 100%;
        }
        .header-location {
            margin-top:1em;
        }
        .header-location-label {
            line-height: 32px;
        }

        .header-search-category-wrapper {
            background-color: #F1F1F1;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            overflow: hidden;
            background: url(new_arrow.png) ;
            background-repeat: no-repeat;
            background-position: right;
            background-size: 24px 24px;
            background-color:#ddd;
            border: 1px solid transparent;
            background-color: #F1F1F1;
            width: 100%;
            height: 34px;
            vertical-align: top;
            cursor: pointer;
            background-color: #F1F1F1;
        }

        select {
                width: auto;
                height: 100%;
                line-height: 20px;
                padding: 0 25px 0px 10px;
                font-family: "Source Sans Pro",Arial,sans-serif;
                font-size: 14px;
                background: transparent;
                border: 1px solid transparent;
                border-radius: 2px;
                color: #3C3241;
                z-index: 1;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                cursor: pointer;
            }
            select:focus {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                outline: 0;
                border: solid 1px #635B67;
            }

        input[type="text"] {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: transparent;
        }
        input[name="sCategory"] {
            width:100%;
        }
    }
}
.select-custom-wrapper {
    background-color: #F1F1F1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    background: url(new_arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24px 24px;
    background-color: #ddd;
    border: 1px solid transparent;
    background-color: #F1F1F1;
    width: auto;
    height: 34px;
    vertical-align: top;
    cursor: pointer;
    background-color: #F1F1F1;
    display: inline-block;
    width: auto;
    select {
        width: auto;
        height: 100%;
        line-height: 20px;
        padding: 0 25px 0px 10px;
        font-family: "Source Sans Pro",Arial,sans-serif;
        font-size: 14px;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 2px;
        color: #3C3241;
        z-index: 1;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    select:focus {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        outline: 0;
        border: solid 1px #635B67;
    }
}
.banner-header {
    background: url(http://i.imgur.com/7Yb83xk.jpg) no-repeat center;
    background-size: cover;
    min-height: 80px;
    display:none;
}
.theme-box {
    margin:60px 0px;
}

.main-background {
    background-color: #fff;
}
.main,
.main-banner {
    background-color: #fff;
    padding: 20px 0;
}
.main-premium {
    padding: 20px 0;
    background: #D8D6D9;
}
#latest {
    padding-top:8px;
}

.listing-list {
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    color: #3C3241;
    border-radius: 2px;

    border-bottom: 1px solid #d6d6d6;
    .listing-url {
        padding: 12px 0px;
        display:block;
    }
    .listing-url:hover,
    .listing-url:focus{
        text-decoration: none;

    }
    .listing-list-wrapper {
        width: 120px;
        float:left;

        .listing-thumb {
            height: 92px;
            width: 120px;
            float:left;
            border-radius: 2px;
            border: 1px solid #d6d6d6;
            position:relative;
            overflow: hidden;

            img {
                max-width: inherit;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                display: block;
                max-width: 120px;
                max-height: 92px;
            }
        }
        .listing-thumb-info {
            float:left;
            width: 120px;
            margin-top: 8px;
        }
    }
    .listing-content {
        margin-left: 130px;
        display:block;
        /*padding-right: 120px;*/
        min-height: 92px;
        position:relative;
        color: #3C3241;

        .listing-title {
            padding-right: 2em;
            font-size: 16px;
            line-height: 21px;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin: 0;
            margin-bottom: 4px;

            color: #337ab7;
            text-decoration: none;
        }
        .listing-description {
            overflow: hidden;
            text-overflow: ellipsis;
            //display: -webkit-box;
            display:none;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-height: 1.4;        /* fallback */
            font-size: 15px;
            margin-bottom: 4px;
        }
        .listing-title:hover,
        .listing-title:focus {
            color: #23527c;
            text-decoration: underline;
        }
        .listing-location {
            padding-right: 2em;
            display: block;
            line-height: 1.4;        /* fallback */
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 4px;
        }
        .listing-simple-price {
            padding-left: 0px;
            padding-right: 0px;
            width: 50%;
            float:left;
        }
        /*.listing-simple-price {
            position: absolute;
            top:0px;
            right:0px;
            width: 120px;
        }*/
        .listing-posted-date {
            padding-left: 0px;
            padding-right: 0px;
            width: 50%;
            float:left;
        }
        /*.listing-posted-date {
            position: absolute;
            top:23px;
            right:0px;
            width: 120px;
        }*/
    }

}
.listing-list:hover {
    background: #FAFAFA;
}

.listing-grid {
    background: transparent;
    margin-bottom:8px;
    .listing-content {
        display: none;
    }
    .listing-grid-wrapper {
        background: #fff;
        padding:4px;
        .listing-thumb-info {
            display: none;
        }
    }
    .listing-thumb {
        text-align: center;
        overflow: hidden;
        border: 1px #ccc solid;
        display: block;
        position: relative;
        background: #fff;
        padding-bottom: 75%;
        margin-bottom: 15px;
        img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
    }

    .listing-simple-price {
        position: absolute;
        bottom: 10px;
        right: 0px;
        background-color: #3997BA;
        padding: 3px 10px;
        color: #fff;
    }
}


.listing-grid-premium {
    padding-left: 0px;
    padding-right: 0px;
    .listing-simple-price {
        bottom: 0px;
        right: 0px;
    }
    .listing-content {
        padding: 0 1em;
        padding-bottom: 1em;
        color: #333333;
        display:block;
    }
    .listing-grid-wrapper {
        margin: 3px;
        padding: 0;
    }
    .listing-title {
        font-size: inherit;
        height: 2.3em;
        margin:0px;
        margin-bottom: 8px;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;


        color: #337ab7;
        text-decoration: none;
    }
    .listing-title:hover,
    .listing-title:focus {
        color: #23527c;
        text-decoration: underline;
    }
    .listing-location {
        display: inline-block;
        height: 1.3em;
        width: 100%;
    }
    .listing-thumb {

        img {
            width: 100%;
            max-width: inherit;
            position: absolute;
            height: 100%;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            display: block;
        }
    }
}

// user-alerts customization listing-list
body.user-alerts {
    //font-size: 15px;
    //line-height: 1.4;
    .user-alerts.first {
            border-top: 1px solid #d6d6d6;
        }
    .listing-list{
        .listing-content {
            padding: 0px 16px;
            margin-left: 0px;
            height: auto;
            min-height: inherit;
            .listing-title {
                font-size: 16px;
                line-height: 21px;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                margin: 0;
                margin-bottom: 4px;

                color: inherit;
                text-decoration: none;
            }
        }
    }
}

//.seo-links-box .tab-pane ,
#top-searches,
#top-location{
    .row {
        padding: 0 1em;
    }
    li {
        position: relative;
        margin-bottom: 1em;
        a {
            position: absolute;
            display: inline-block;
            width: 100%;
            left: 0px;
        }
    }
    ol{
        margin-bottom: 0px;
        padding-left: 2em;
    }
    /*ol:nth-child(n+3) {
        display:none;
    }*/

}
// tabs
.tab-content {
    background: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    font-weight: 600;
}

.custom-tabs {
     .nav-tabs {
        margin-bottom: -1px;
        li:not(.active) {
            a {
                text-decoration: none;
                background-color: #eeeeee;
                border-color: #eeeeee #eeeeee #ddd;
                color: inherit;
            }
        }
    }
    .tab-content {
        border: 1px solid #ddd;
        padding: 1em;
    }
}

/* item */
body.item {
    .main {
        padding-top: 0px;
    }
    .item-title {
        font-size: 24px;
        margin:0px;
    }
    .seller-info {
        border-bottom: 1px solid #d6d6d6;
        padding-bottom: 6px;
    }
    .btn-report.btn-secondary-custom:hover{
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .btn-report.btn-secondary-custom.active{
        border-radius: 2px 2px 0px 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        .caret:after {
            content: "";
            display: block;
            position: absolute;
            left: -1px;
            right: -1px;
            height: 15px;
            background-color: #fff;
            z-index: 2000;
            bottom: -14px;
            border: 1px solid #000;
            border-width: 0 1px;

            margin-right: 1px;
            margin-left: 6px;
        }
    }
    .btn-report.btn-secondary-custom.active:hover{
        background: inherit;
        color:inherit;
    }
    #dropdown-menu {
        position:relative;
        width: 100%;
        border-color: #000;
        top: 11px;
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .phone {
        display: inline-block;
        position: relative;
        padding-right: 6px;
        line-height: 35px;
        font-size: 18px;
    }

    .phone_hide:after {
        position: absolute;
        right: 0;
        top: 0;
        content: "XXX";
        background-color: #fff;
        width: 36px;
        opacity: 1;
    }

    #itemTabs li {
        width: 33.3%;
    }
    .bx-wrapper img{
        width: 100%;
    }
    .bx-wrapper{
        /*max-width: inherit!important;*/
        margin-bottom: 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #bx-pager {
        background-color: #eeeeee;
        padding:0.5em 0;
        a{
            margin:0.5em 0;
            display:inline-block;
            margin-left: 1em;
        }
        img {
            height: 70px;
            width: auto;
        }
    }

    #mapbox {
        min-width: 120px;
        width: 100%;
        min-height: 100px;
        height: 150px;
        margin: 0 auto;
        vertical-align: middle;
    }
}

body.item-contact {
    .main.main-separator {
        padding-top:20px;
        padding-bottom:0px;
    }
}
/* body */
body.search {
    .search-sidebar {
        display:none;
        top: 0;
        width: 270px;
        right: 0px;
        position: absolute;
        padding: 0;
        z-index: 700;
        background: #fff;
        height: auto;
        overflow: hidden;

        .row{
            padding:0 15px;
            h6 {
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: inherit;
                line-height: inherit;
                padding: 15px 0px;
                padding-bottom: 5px;
                margin:0px;
            }
        }
        .sidebar-block-actions,
        .sidebar-block-title {
            padding: 15px;
            padding-bottom: 5px;
            margin:0px;
        }
        .sidebar-block-actions {
            padding-bottom: 15px;
        }
        .sidebar-block-content {
            padding: 15px;
            background-color: #F1F1F1;
        }
        .sidebar-block-content.scroll{
            max-height: 380px;
            overflow: auto;
        }
        .sidebar-block-plugins {
            padding-top:0px;
        }
        ul.location,
        ul.category {
            padding-left: 15px;
            li {
                list-style: none;
                list-style-image: none;
                a {
                    margin-bottom: 8px;
                    padding: 3px 20px 3px 10px;
                    padding-right: 30px;
                    color:inherit;
                    position: relative;
                    display: inline-block;

                    .fa-check {
                        position: absolute;
                        display: inline-block;
                        color: #E57373;
                        font-size: 14px;
                        line-height: 14px;
                        top: 50%;
                        right: 10px;
                        margin-left: 10px;
                        margin-top: -7px;
                    }
                }
                a:before {
                    box-sizing: content-box;
                    display: table-cell;
                    content: "";
                    position: absolute;
                    top: 50%;
                    vertical-align: middle;
                    left: 0;
                }
            }
        }
        .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
            margin-left:0px;
        }
    }
    .search-sidebar.open {
        display: block;
        width: 90%;
        margin-right: 5%;
        margin-top: 5%;
    }
}

body.user-items {
    .listing-list{
        padding-top: 12px;
        padding-bottom: 12px;
        .listing-url{
            display: inline;
        }
        .listing-url:hover,
        .listing-url:focus{
            text-decoration: none;
            background: inherit;
        }
        .listing-actions {
            a.nolink {
                color: inherit;
                text-decoration: none;
                cursor:default;
            }
            a.nolink:hover, a:focus {
                color: inherit;
                text-decoration: none;
                cursor:default;
            }
        }
    }
}

/* register - login */
.rule {
    margin: 18px 0;
    border: 0;
    background-color: transparent;
    border-top: 1px solid #ccc;
    position: relative;
    width: 100%;
    display: block;
    .rule-text {
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: -.75em;
        background: #fff;
        padding: 0 21px;

    }
}
.navbar_text {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 6px 0px;
    line-height: 40px;
    font-size: 1.1em;
    color: #fff;
    position: relative;
    display: block;
}
a.navbar_logout {
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-left: 10px!important;
    margin-right: 15px!important;
}


/* search mobile sidebar filters */
.filters-mask {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*overflow-x: hidden;*/
    /*height: auto;*/
    /*position: absolute;*/
    /*top:0px;*/
    /*left: 0;*/
}
.filters-mask.open {
    cursor: pointer;
    height: 1057px;
    overflow: hidden;
}

body.search .search-sidebar.search-sidebar-mobile {
    display: block;
    z-index:700;
}

.filters-mask.open > .viewport-mask {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 600;
    cursor: pointer;
}
.search-overlay {
    display:none;
}
.search-overlay.open {
    display:block;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 600;
    cursor: pointer;
}

body.item {
    .meta ul li {
        list-style: none;
    }
     .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        margin-left:0px;
    }
}


form#sub_alert {
    display: inline-flex;
}

#toogle-filters {
    margin-left: 4px;
}

/* watchlist - saved searches */
.save-ad {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 4px 10px 10px;
    cursor: pointer;
    font-size: 1.5em;
    color:#B7B4B7;
}
.save-ad:hover {
    text-decoration: none;
}
.save-ad.is-saved {
    color:#E57373;
}

.isPremium {
    padding: 1px 3px;
    border-radius: 3px;
    background-color: #ff8b02;
    color: #fff;
    font-size: 10px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: default;
    margin-right: 2px;
    position: relative;
    top: -1px;
}
.isPremium:hover {
    text-decoration: none;
}

/* osclass-payments-pro plugin */
/*.payment-pro-highlighted {
    background: #fcf8e3;
}*/