/* attributes osclass plugins */
label[for="manual"] ,
label[for="auto"] {
        line-height: 35px;
}


.plugin-hooks {
    input[type="radio"],
    input[name="transmission"] {
        width: 20px;
        margin: 2px;
        float: left;
    }
    label {
        line-height: 35px;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    h3 {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 16px;
    }
}

/*select[name="make"],
select[name="model"],
select[name="car_type"],
select[name="doors"],
select[name="seats"],
select[name="car_type"]{*/
#plugin-hook {

    div div.row {
        margin: 0;
        margin-bottom: 1em;
        input[type="text"],
        select,
        textarea {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        textarea {
            height: auto;
        }
    }

}

/* richedit */
.mceLayout {
    width: 100%!important;
}