@media  (min-width: 480px) {
    @import "responsive/ms.scss";
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    @import "responsive/sm.scss";
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    @import "responsive/md.scss";
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    @import "responsive/lg.scss";
}
