
.box-timer {
    bottom: 0px !important;
    left: 5px !important;
    text-align: center;
    margin-top: 0;
    position: absolute;
    top: 1% !important;
}


.timer-grid {
    overflow: hidden;
    display: inline-block;
}
.timer-grid .box-time-date {
    background: #fbfbfb;
    font-size: 9px;
    color: #808080;
    min-width: 55px;
    min-height: 30px;
    text-align: center;
    margin-top: 1px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px #e8e8e8 solid;
    display: block;
}
.timer-grid .day.box-time-date {
    background: #e62263;
    color: #fff;
    border: 1px #e62263 solid;
}
.timer-grid .day.box-time-date span {
    color: #fff;
}
.timer-grid .box-time-date span {
    display: block;
    font-size: 16px;
    color: #3f3f3f;
    margin-top: 1px;
}
.box-timer {
    bottom: 0px;
    left: 0px;
    text-align: center;
    margin-top: 0;
    position: absolute;
    top: 0%;
    z-index: 10;
}
.hot-deal {
    padding-left: 10px;
    overflow: hidden;
}
.hot-deal .products-grid .item button.button {
    background: none repeat scroll 0 0 #e62263;
    border: 1px solid #e62263;
    color: #fff;
}
.hot-deal .products-grid .item {
    margin-top: auto;
    padding: 1px;
    border: 1px #e5e5e5 solid;
}
.hot-deal .item-info {
    padding-bottom: 5px;
}
.hot-deal .products-grid .item .item-inner .item-img {
    margin: 0px auto 0;
}
