
#top-location{
    ol:nth-child(n+4) {
        display:inherit;
    }
    ol:nth-child(n+5) {
        display:none;
    }
}


body.search {
    .search-sidebar ,
    .search-sidebar.open {
        display:block;
        width: 23%;

        float:left;
        position: static;


        z-index: inherit;
        background: #fff;
        height: auto;
        overflow: hidden;
        margin:0px;
    }
    #form-search {
        border-radius: 2px;
        border: 1px solid #d6d6d6;
    }
    .search-content {
        margin-left: 25%;
    }
    .search-overlay.open {
        display:none;
    }

}

.visible-to-sm {
    display:none;
}

a.navbar_logout:before {
    content: "(";
}

a.navbar_logout:after {
    content: ")";
}
