.banner-header {
    height: 180px;
    display:block;
}

.container-header-search {
    .header-search {
        .header-location {
            margin-top:0em;
        }
    }
}
#header-nav-post-ad {
    margin: 6px 0px;
    margin-left: 1em;
}
.gum-drop {
    color: #024477!important;
}
#top-location{
    ol:nth-child(n+3) {
        display:inherit;
    }
    ol:nth-child(n+4) {
        display:none;
    }
}

.register-social {
    border-right: solid 1px #D8D6D9;
}

.visible-to-ms {
    display:none;
}
body.page-404 {
    h1 {
        margin:24px 0;
    }
}


.listing-list .listing-content .listing-description {
    display:-webkit-box;
}
.listing-list .listing-content .listing-posted-date  {
    position: absolute;
    top:23px;
    right:0px;
    width: 120px;
    text-align: right;
    float:none;
}
.listing-list .listing-content .listing-simple-price {
    position: absolute;
    top:0px;
    right:0px;
    width: 120px;
    text-align: right;
    float:none;
}
.listing-list .listing-content .listing-title {
    padding-right: 0;
}
.listing-list .listing-content .listing-location {
    display: inline-block;
}

.listing-list .listing-content {
    padding-right: 120px;
}


/* watchlist - saved searches */
.save-ad {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 10px;
    cursor: pointer;
}